<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <video  controls="controls" autoplay="autoplay">
    <source src="http://vod.hezhibo.com:80/vod/short/20181001T100345_2.mp4.m3u8?timestamp=20181026151301&encrypt=5b5c33332d9e9065e7c3e73bf5f22eb0&st_sourceid=h8b7i2td9wy5qorcpbql6daryhgb3yk3&userId=kbn1dl70xd32q43lsj0hcvxlf2x13777" />
    Your browser does not support the video tag.
  </video>
</body>
</html>